CostMode                     : lossless
BDPCM                        : 1
ChromaTS                     : 1
BDPCM                        : 1
DepQuant                     : 0
RDOQ                         : 1
RDOQTS                       : 1
SBT                          : 0
LMCSEnable                   : 0
ISP                          : 0
MTS                          : 0
LFNST                        : 0
JointCbCr                    : 0
LoopFilterDisable            : 0
SAO                          : 1
ALF                          : 1
CCALF                        : 0
DMVR                         : 0
BIO                          : 0
PROF                         : 0
Log2MaxTbSize                : 5
InternalBitDepth             : 0
TSRCdisableLL                : 1

# Configuration to achieve mixed-lossy lossless coding
QP                           : 55          # Quantization parameter for lossy slices
CbQpOffset                   : 0
CrQpOffset                   : 0
SliceLevelDblk               : 1
SliceLevelAlf                : 1
SliceLevelSao                : 1
SignHideFlag                 : 0
MixedLossyLossless           : 1
SliceLosslessArray           : 1 2  # slices with index 1 and 2 are lossless coded 

#============ Tiles / Slices ================
EnablePicPartitioning         : 1                         # Enable picture partitioning (0: single tile, single slice, 1: multiple tiles/slices can be used)

TileColumnWidthArray          : 3 3 3 3 3 3               # Tile column widths in units of CTUs. Last column width will be repeated uniformly to cover any remaining picture width
TileRowHeightArray            : 3 3 3 3                   # Tile row heights in units of CTUs. Last row height will be repeated uniformly to cover any remaining picture height  
RasterScanSlices              : 0                         # Raster-scan or rectangular slices (0: rectangular, 1: raster-scan)
RectSliceFixedWidth           : 1                         # Fixed rectangular slice width in units of tiles (0: disable this feature and use RectSlicePositions instead)
RectSliceFixedHeight          : 1                         # Fixed rectangular slice height in units of tiles (0: disable this feature and use RectSlicePositions instead)
DisableLoopFilterAcrossTiles  : 1                         # Loop filtering (DBLK/SAO/ALF) applied across tile boundaries or not (0: filter across tile boundaries  1: do not filter across tile boundaries)
DisableLoopFilterAcrossSlices : 1                         # Loop filtering (DBLK/SAO/ALF) applied across slice boundaries or not (0: filter across slice boundaries 1: do not filter across slice boundaries)


