# ======== Luma adaptive QP ==========
LumaLevelToDeltaQPMode        : 0           # Change luma delta QP based on average luma
isSDR                         : 0           # 1: SDR in PQ container,   0: HDR

# ======= LMCS =======================
LMCSEnable                    : 1           # turned on in HDR CTC 
LMCSSignalType                : 1           # Input signal type: 0:SDR, 1:HDR-PQ, 2:HDR-HLG
LMCSOffset                    : 1           # chroma residual scaling offset

#======== Chroma QP scale ============
WCGPPSEnable                  : 0           # enable WCG Chroma scale

CbQpOffset                    : 0
CrQpOffset                    : 0

SameCQPTablesForAllChroma     : 0
QpInValCb                     : 13 20 36 38 43 54
QpOutValCb                    : 13 21 29 29 32 37
QpInValCr                     : 13 20 37 41 44 54
QpOutValCr                    : 13 21 27 29 32 37
QpInValCbCr                   : 12 21 41 43 54
QpOutValCbCr                  : 12 22 30 32 37

VerCollocatedChroma           : 1

#======== HDR Metrics ============
CalculateHdrMetrics           : 1           # Calculate HDR metrics for Class H1 (PQ) content
