# Reference picture resampling CE settings for scaling ratio and number of encoded frames

ScalingRatioHor                     : 1.5
ScalingRatioVer                     : 1.5
FractionNumFrames                   : 0.5
UpscaledOutput                      : 1