#======== Layers ===============
MaxLayers                     : 2
MaxSublayers                  : 7
DefaultPtlDpbHrdMaxTidFlag    : 0
AllIndependentLayersFlag      : 0
#======== OLSs ===============
EachLayerIsAnOlsFlag          : 0
OlsModeIdc                    : 2
NumOutputLayerSets            : 2
OlsOutputLayer1               : 1 0
NumPTLsInVPS                  : 2
#======== Layer-0 ===============
LayerId0                      : 0
#======== Layer-1 ===============
LayerId1                      : 1
NumRefLayers1                 : 1
RefLayerIdx1                  : 0
#======== OLS-0 ===============
OlsPTLIdx0                    : 0
#======== OLS-1 ===============
LevelPTL1                     : 6.2
OlsPTLIdx1                    : 1



